body {
    width: 970px;
    margin: 0 auto;
}
nav {
    display: flex;
    background-color: grey;
    height: 100px;
    margin: auto;

}

li {
    display: inline-block;
    color: lightgrey;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 20px;

}

.logo {
    float: left; 
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.image1 {
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}


.image2, .image3 , .image4 {
    height: 375px;
    width: 300px;
    display: inline-block;
    padding-top: 15px;
    margin-bottom: 30px;
}

.image3 {
    margin-left: 30px;
    margin-right: 30px;
}


.image5 {
    float: left;
    margin-right: 30px;
}

.featuredText { 
    width: 400px;
    height: 300px;
    overflow: auto;
    
}

footer {
    height: 50px;
    background-color: grey;
}